<table class="table">
  <thead>
    <th>
      Nombre
    </th>

    <th>
      rut
    </th>

    <th>
      Razon social
    </th>

    <th>
      Nombre representante
    </th>

    <th>
      Rut representante
    </th>

    <th>
      Telefono
    </th>

    <th>
      Nombre contacto
    </th>

    <th>
      Telefono contacto
    </th>

    <th>
      Direccion
    </th>

    <% if current_business == @business %>
      <th>
	Editar
      </th>

      <th>
	Eliminar
      </th>
    <% end %>
  </thead>

  <tbody>
    <tr>
      <td>
	<%= @business.name %>
      </td>

      <td>
	<%= @business.rut %>
      </td>

      <td>
	<%= @business.legal_name %>
      </td>

      <td>
	<%= @business.agent_name %>
      </td>

      <td>
	<%= @business.agent_rut %>
      </td>

      <td>
	<%= @business.phone %>
      </td>

      <td>
	<%= @business.contact_name %>
      </td>

      <td>
	<%= @business.contact_phone %>
      </td>

      <td>
	<%= @business.address %>
      </td>

      <% if current_business == @business %>
	<td>
	  <%= link_to 'Editar', edit_business_registration_path(@business) %>
	</td>

	<td>
	  <%= link_to 'Eliminar', business_registration_path, method: :delete %>
	</td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if current_business == @business %>
  <%= link_to 'Agregar producto', new_business_product_path(@business), class: 'btn btn-default' %>
<% end %>


<% if @business.products.length > 0 %>
  <h2>
    Productos
  </h2>

  <div class="row-marketing">
    <% for product in @business.products %>
      <%= render product %>
    <% end %>
  </div>
<% end %>
