%table.table.table-striped.table-hover.col-md-8.no-float
  %thead
    %tr
      %th Id
      %th Nombre
      %th Telefono
      %th Email
      %th nombre contacto
      %th direccion

      - if current_business != @business
        %th Mensaje

      %tbody
        %tr
          %td= @business.id
          %td= @business.name
          %td= @business.phone
          %td= @business.email
          %td= @business.contact_name
          %td= @business.address

          - if current_business != @business
            %td
              = link_to 'Enviar mensaje',
              new_message_path(sender_id: current_business.id,
              receiver_id: @business.id)

- if current_business == @business
  = link_to 'Agregar producto', new_product_path

- if @business.products.length > 0
  %h2
    Productos

  - @business.products.each do |product|
    %div.col-sm-2
      = render product
