<% if current_business == @business %>
  <%= link_to 'Agregar producto', new_business_product_path(@business) %>
<% end %>


<h1>
  <%= @business.name %>
</h1>

Rut: <%= @business.rut %>
<br>

Razon social: <%= @business.legal_name %>
<br>
Representate: <%= @business.agent_name %>, <%= @business.agent_rut %>
<br>

Telefono: <%= @business.phone %>
<br>

Contacto: <%= @business.contact_name %>
<br>
Telefono Contacto: <%= @business.contact_phone %>
<br>

Direccion: <%= @business.address %>
<br>


<% if @business.products.length > 0 %>
  <h2>
    Productos
  </h2>

  <% for product in @business.products %>
    <%= render product %>
  <% end %>
<% end %>
