<h1>
  <%= @business.name %>
</h1>

Rut: <%= @business.rut %>
<br>

Razon social: <%= @business.legal_name %>
<br>
Representate: <%= @business.agent_name %>, <%= @business.agent_rut %>
<br>

Telefono: <%= @business.phone %>
<br>

Contacto: <%= @business.contact_name %>
<br>
Telefono Contacto: <%= @business.contact_phone %>
<br>

Direccion: <%= @business.address %>
<br>
