.well.bs-component

  %h3
    Enviando mensaje a:
    = @receiver.name

  %br

  = form_for(@message, method: :create, class: 'form-horizontal') do |f|
    %fieldset
      .form-group
        .field
          = f.label 'Asunto'
          %br
          = f.text_area :subject, rows: 1, cols: 50

        .field
          = f.label 'Contenido'
          = f.text_area :content, cols: 200, rows: 20

        %br

        = hidden_field_tag :sender_id, @sender.id
        = hidden_field_tag :receiver_id, @receiver.id

        = f.submit 'Enviar', class: 'btn btn-raised btn-primary'
