.well.bs-component

  %h3
    Enviando mensaje a:
    = @sender.name

  %br

  = form_for(@message, method: :create, class: 'form-horizontal') do |f|
    = csrf_meta_tag
    %fieldset
      .form-group
        .field
          = f.label 'Asunto'
          %br
          = f.text_area :subject, rows: 1, cols: 50

        .field
          = f.label 'Contenido'
          = f.text_area :content, cols: 200, rows: 20

        %br

        = f.hidden_field :sender_id, value: @sender.id
        = f.hidden_field :receiver_id, value: @receiver.id

        = f.submit 'Enviar', class: 'btn btn-raised btn-primary'
