-if current_business.try(:admin? )
	%article.big-padding
		%h1.text-center 
			Lista de Empresas
		%section.inline-block.col-md-12.row
			%table.table.table-striped.table-hover.col-md-8.no-float
				%thead
					%tr
						%th Id
						%th Nombre
						%th Telefono
						%th Email
						%th nombre contacto
						%th direccion
						%th admin

				%tbody
					- @businesses.each do |business|
						%tr
							%td= business.id
							%td= business.name
							%td= business.phone
							%td= business.email
							%td= business.contact_name
							%td= business.address
							%td=business.admin

-else
	%h3.bigger
		No eres admin, prueba con otro Usuario