<!DOCTYPE html>
<html>
  <head>
    <title>Directorio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
	<nav>

	  <ul class="nav nav-pills pull-right">
	    <% if not business_signed_in? %>
	      <li role="presentation">
		<%= link_to 'Iniciar sesion', new_business_session_path %>
	      </li>

	      <li role="presentation">
		<%= link_to 'Registrar empresa', new_business_registration_path %>
	      </li>

	    <% else %>
	      <li role="presentation">
		<%= link_to 'Cerrar sesion', destroy_business_session_path, method: :delete %>
	      </li>
	    <% end %>
	  </ul>
	</nav>

	<h3 class="text-muted">
	  <%= link_to 'Directorio', root_path %>
	</h3>

      </div>

      <% if notice %>
	<div class="alert alert-success">
	  <%= notice %>
	</div>
      <% end %>

      <% if alert %>
	<div class="alert alert-danger">
	  <%= alert %>
	</div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
